THanks for Registeration





<!-- <!-- <html>
    <head>
        <link real="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
           
          <!--Icon Font-->
         <!--  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <div class="container-fluid invoice-container">
            <header>
                <div class="row align-items-center">
                    <div class="col-sm-7">
                        <img id="logo" src="" alt="">
                    </div>
                    <div class="col-sm-5 text-right">
                        <h4 class="mb-0 text-right">Invoice</h4>
                    </div>
                </div>
            </header>
            <main>
                <div class="row">
                    <div class="col-sm-6"><strong>Date:</strong>03/12/2022</div>
                    <div class="col-sm-6 text-right"><strong>Invoice No:</strong>1207</div>
                </div>
                <hr>
                <div class="row">
                    < -->div class="col-sm-6 text-right order-sm-1"><strong>Pay To:</strong>
                     <!--    <address>
                            Dream cover inc<br>
                            <a href="mailto:dreamcover@gmail.com">dreamcover@gmail.com</a>
                        </address>
                    </div>
                    <div class="col-sm-6 order-sm-0"><strong>Invoiced To:</strong>
                        <address>
                            Steven Smith<br>
                            Sweden
                        </address> 
                    </div>       
                </div>

                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table mb-0">
                               <thead class="card-header">
                                 <tr>
                                    <td class="col-3"><strong>Product</strong></td>
                                    <td class="col-4"><strong>Description</strong></td>
                                    <td class="col-2 text-center"><strong>Rate</strong></td>
                                    <td class="col-1 text-center"><strong>Quantity</strong></td>
                                    <td class="col-2 text-right"><strong>Amount</strong></td>
                                    <!-- 3+4+2+1+2=12-->
                                 <!-- </tr> -->
                                <!-- </thead> -->
                                <!-- <tbody> --> -->
                     <!--                <tr>
                                        <td class="">K-Size Bed</td>
                                        <td class="text-1">Yogi Cotton Bed with 2 Pillows</td>
                                        <td class="text-center">Rs.25000</td>
                                        <td class="text-center">1</td>
                                        <td class="text-right">Rs.25000.00</td> 
                                    </tr>
                                    <tr>
                                        <td class="">Q-Size Bed</td>
                                        <td class="text-1">Yogi Cotton Bed with 4 Pillows</td>
                                        <td class="text-center">Rs.45000</td>
                                        <td class="text-center">1</td>
                                        <td class="text-right">Rs.45000.00</td> 
                                    </tr>
                                </tbody>
                                <tfoot class="card-footer">
                                    <tr>
                                        <td colspan="4" class="text-right"><strong>Sub Total:</strong></td>
                                        <td class="text-right">70000.00</td>
                                    </tr>
                                    <tr>
                                      <td colspan="4" class="text-right"><strong>Tax:</strong></td>
                                        <td class="text-right">5000.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-right"><strong>Total:</strong></td>
                                          <td class="text-right">75000.00</td>
                                      </tr>
                                </tfoot>
                            </table>    
                        </div>
                    </div>
                </div>
            </main>

            <footer class="text-center mt-4">
                <p class="text-1"><strong>NOTE:</strong>This is computer generated receipt and does not required signature</p>
                 <div class="btn-group btn-group-sm">
                    <a href="javascript:window.print()" class="btn btn-light border text-black-50"><ion-icon name="print-outline"></ion-icon>
                        Print</a>
                    <a href="" class="btn btn-light border text-black-50"><ion-icon name="cloud-download-outline"></ion-icon>
                        Download</a>
                 </div>   
            </footer>
        </div>    
    </body>
</html>     --> --> -->